[[source]]
name = "pypi"
url = "https://<%= pypi %>/simple"
verify_ssl = true

[packages]
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-apispec = "*"<%= unless bare do %>
Flask-Bcrypt = "*"
Flask-Jwt-Extended = "*"<% end %>
marshmallow-sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"
factory-boy = "*"

[requires]
python_version = "3.7"
