[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
flask-apispec = "*"
flask-migrate = "*"
flask-bcrypt = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"
factory-boy = "*"

[requires]
python_version = "3.7"
